<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Farmingo</title>
    <link rel="stylesheet" href="/public/css/index.css" />
</head>

<body>
<header>
    <div class="navBar">
        <div class="logo">
            <img src="/public/css/images/logo_nav.png" alt="Logo" />
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/order">Order Online</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact us</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <div class="login">
            <% if (!user) { %>
            <a href="/login">
                <img src="/public/css/images/login_symb.png" alt="Login Symbol" />Log In
            </a>
            <% } else { %>
            <h2>>Welcome, <%= user %>!</h2>
            <a href="/logout">Logout</a>
            <% } %>
            <div class="cartsymb">
                <a href="/order">
                    <img src="/public/css/images/cart_symb.png" alt="Cart Symbol" />
                </a>
            </div>
        </div>
        <div class="logo2">
            <a href="/signup">
                <img src="/public/css/images/logo_nav2.png" alt="Logo2" />
            </a>
        </div>
    </div>
</header>
<div class="headings">
    <div class="head1">
        <h1>Fresh Produce</h1>
    </div>
    <div class="head2">
        <h1>Delivery</h1>
    </div>
    <div class="head3">
        <h3>From Our Farm To Your Doorstep</h3>
    </div>
    <a href="/order" class="orderonlineb">Order Online</a>
</div>
<div class="missionstate">
    <div class="heading">Mission Statement</div>
    <div class="content">
        <p>
            At Farmingo, we're on a mission to transform the way you access and
            enjoy fresh, local produce. <br /><br />By cutting out the middleman,
            we empower local farmers, ensuring fair compensation for their hard
            work and promoting sustainable agriculture. <br /><br />
            Our user-friendly platform provides a seamless experience, connecting
            you directly to high-quality, farm-fresh products while fostering a
            sense of community and transparency. <br />
            <br />

            Join us in revolutionizing the food supply chain and supporting local
            farmers on the journey from farm to table.
        </p>
    </div>
    <div class="image">
        <img src="/public/css/images/missionstate.png" alt="" />
    </div>
</div>
<div class="prod-disp">
    <div class="head">Shop Season's Produce</div>
    <div class="vegetable">
        <img src="/public/css/images/vegetable1.png" alt="Vegetable 1" />
        <p>Classic Basket</p>
        <p>Rs 15.00</p>
    </div>
    <div class="vegetable">
        <img src="/public/css/images/vegetable2.png" alt="Vegetable 2" />
        <p>Mixed Basket</p>
        <p>Rs 25.00</p>
    </div>
    <div class="vegetable">
        <img src="/public/css/images/vegetable3.png" alt="Vegetable 3" />
        <p>Wholesome Family Basket</p>
        <p>Rs 45.00</p>
    </div>
</div>
<div class="dispimage">
    <div class="insideimg"><img src="/public/css/images/image2.png" alt="" /></div>
</div>
<footer>
    <div class="endbox">
        <div class="info-container">
            <div class="info-column">
                <h4>Address</h4>
                <p>99 3rd Ave, Block 5 Clifton, Karachi,<br />Sindh, Pakistan</p>
            </div>
            <div class="info-column">
                <h4>Phone Number</h4>
                <p>+923004521783</p>
            </div>
            <div class="info-column">
                <h4>Operating Hours</h4>
                <p>
                    Monday - Friday: 9AM to 6PM<br />Saturday: 9AM to 2PM<br />Closed
                    on Sundays
                </p>
            </div>
        </div>
    </div>
    <div class="endbox12">
        &copy; 2023 by Farmingo Co. Powered and secured by Zableaks.
    </div>
</footer>
 </body>
</html>